# Amizola, April Anne
# PSMDSRC 103 - PSMDSRC001 - Programming

# Assignment 1.1 Practice Set 2, Indexing and Slicing using Python

## 1. Type the expressions below, and try to explain what's happening in each case.

In [587]:
2 ** 16
# exponent operator (**) calculates the number 2 raised to the power of another number 16

65536

In [589]:
2 / 5, 2 / 5.0
# performs division for each expression separated by a comma

(0.4, 0.4)

In [591]:
"spam" + "eggs"
# concatenate strings

'spameggs'

In [593]:
S = "ham"
S
# assignment - string "ham" assigned to variable S

'ham'

In [595]:
"eggs " + S
# concatenate strings and a variable (whose value is a string)

'eggs ham'

In [597]:
S*5
# replicates the variable (whose value is a string) 5 times

'hamhamhamhamham'

In [599]:
S[:0]
# slicing a string

''

In [601]:
"green %s and %s" % ("eggs", S)
# string formatting method; % (string-formatting operator) inserts a string referenced to the value "eggs and variable S enclosed in ( )

'green eggs and ham'

In [603]:
('x',) [0]
# using a slice operator [ ] to extract the first element of a tuple

'x'

In [605]:
('x', 'y') [1]
# using a slice operator [ ] to extract the second element of a tuple

'y'

In [607]:
L = [1,2,3] + [4,5,6] 
L
# appending lists

[1, 2, 3, 4, 5, 6]

In [609]:
L, L[:], L[:0], L[-2], L[-2:] 
# using a slice operator [ ] to extract the element/s of a list

([1, 2, 3, 4, 5, 6], [1, 2, 3, 4, 5, 6], [], 5, [5, 6])

In [611]:
([1,2,3] + [4,5,6]) [2:4] 
# extracting the elements of the combined lists

[3, 4]

In [613]:
[L[2], L[3]] 
# access the elements at index 2 and index 3

[3, 4]

In [615]:
L.reverse(); L 
# reverse the order of the elements in the list

[6, 5, 4, 3, 2, 1]

In [617]:
L.sort(); L 
# sort the elements of a list in ascending order by default

[1, 2, 3, 4, 5, 6]

In [619]:
L.index(4){'a':1, 'b':2} ['b']
# L.index(4) - search the element of the list and returns its index
# {'a':1, 'b':2} ['b'] - access the values of a dictionary by referring to its key name
# These are multliple statements in a single line. There's no semicolon to separate L.index(4) and {'a':1, 'b':2} ['b'] resulting to an invalid syntax

SyntaxError: invalid syntax (2169581624.py, line 1)

In [621]:
D = {'x':1, 'y':2, 'z':3}
D
# dictionary (key-value pairs enclosed in a { }) assigned to variable D

{'x': 1, 'y': 2, 'z': 3}

In [623]:
D['w'] = 0
D
# assigning a non-existent key 'w' to 0, therefore another key will be added to the dictionary along with its value

{'x': 1, 'y': 2, 'z': 3, 'w': 0}

In [625]:
D['x'] + D['w']
# access the items of a dictionary by referring to its key name and adding these values

1

In [627]:
D[(1,2,3)] = 4
D
# assigning a non-existent key (1, 2, 3) to 4, therefore another key will be added to the dictionary along with its value

{'x': 1, 'y': 2, 'z': 3, 'w': 0, (1, 2, 3): 4}

In [629]:
D.keys(), D.values(), D.has_key((1,2,3)) [[]], ["", [], {}, None]
# D.keys() - displays a list of all the keys in the dictionary
# D.values() - displays a list of all the values in the dictionary
# D.has_key((1,2,3)) [[]] - returns True if a given key is available in the dictionary, otherwise it returns to False
# However, has_key() method was removed in Python 3 and running this expression will result to Attribute Error
# ["", [], {}, None] - displays a list of elements: empty string, empty list, empty set and a nullvalue

AttributeError: 'dict' object has no attribute 'has_key'

## 2. Define a list named L that contains four strings or numbers. Experiment with the following boundary cases.

In [632]:
L = [20, 30, 40, 50]

In [634]:
# Attempt to index out of bounds. (Ex. L[66])
L[66]

IndexError: list index out of range

In [636]:
# Attempt to slice out of bounds. (Ex. L[-9999:100])
L[-9999:100]

[20, 30, 40, 50]

### Try extracting a sequence in reverse. Make the lower bound higher than the upper bound (Ex. L[3:1]). Attempt to perform L[3:1] = ['?']. Explain the output.

In [639]:
L[3:1] = ['?']
L
# The element '?' is inserted to index 3 of the list

[20, 30, 40, '?', 50]

## 3. Define another list L, perform the following and use comments to explain:

In [642]:
# Assign a list as one of its elements.
L = [1, 2, 3, 4]
L[1] = [5, 6]
L
# Index 1 is 2 and it was replaced with [5, 6]

[1, [5, 6], 3, 4]

In [644]:
# Assign an empty list to a range.
L = [1, 2, 3, 4]
L[2:3] = []
L
# L[2:3] is element 3 and the slice is replaced with an empty list. This means that element 3 is being removed from the list

[1, 2, 4]

In [646]:
# Delete an item in your list using the del statement.
L = [1, 2, 3, 4]
del L[0]
L
# The element 1 at index 0 is permanently deleted

[2, 3, 4]

In [648]:
# Delete an entire range from your list.
L = [1, 2, 3, 4]
del L[:]
L
# This results to an empty list

[]

In [650]:
# Assign a non-sequence value to a slice.
L = [1, 2, 3, 4]
L[1:2] = 1
L
# This results to a Type Error as the right side of the assignment must be an iterable like a list

TypeError: can only assign an iterable

## 4. Create a dictionary named D with three entries, for keys a, b, and c.

In [653]:
D = {'a':1, 'b':2, 'c':3}

### What happens if you try to index a nonexistent key d (D[‘d’])?

In [656]:
D['d']
# There is a Key Error as this key is not found in the dictionary

KeyError: 'd'

### What does python do if you try to assign to a nonexistent key?

In [659]:
D['d'] = 4
D
# Another key will be added to the dictionary along with its value

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

### Compare this to out of bounds assignments.

In [662]:
# Out of bounds index results to a Key Error because it is not found in the dictionary
# Out of bounds assignment results to an additional key-value pair element in a dictionary

## 5. Run tests to answer the following questions:

### What happens when you try to use the + operator on different/mixed types?

In [666]:
1 + 'april'
# It results to Type Error as the operands are two different data types (integer and string)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

### Does + work if one of the operands is a dictionary?

In [669]:
number1 = {'one':1, 'two':2, 'three':3}
number2 = {'four':4, 'five':5, 'six':6}
number1 + number2
# It doesn't work. It results to a Type Error

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

### Try list.append() (use an actual list you created). Does the append() method work for both lists and strings?

In [672]:
# It works with lists
list = [1, 2, 3]
list.append(4)
list

[1, 2, 3, 4]

In [674]:
# It doesn't work with strings
string = 'python'
string.append('3')

AttributeError: 'str' object has no attribute 'append'

### Try concatenating (+) two lists or strings, what happens?

In [677]:
# string + string
'april' + 'anne'
# It combines the two strings

'aprilanne'

In [679]:
# list + list
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
c
# It combines the two lists

[1, 2, 3, 4, 5, 6]

## 6. Define a string S of four characters. Then type the following expression: S[0] [0] [0] [0]. Explain what is happening.

In [682]:
S = 'code'
S[0] [0] [0] [0]
# It access the first character of the string

'c'

## 7. Define a string S of 4 characters again: S = “spam”. Write an assignment that changes the string to “slam”, using only slicing and concatenation. Does it work? Try index assignment.

In [685]:
S = "spam"
S = S[0] + 'l' + S[2:]
S
# Slicing and concatenation works in changing the string from "spam" to "slam"

'slam'